In [5]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
csv_file = "./the_office_lines_scripts.csv"
json_file = "./stopwords.json"

In [8]:
scripts_df = pd.read_csv(csv_file, encoding="utf_8")
scripts_df

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False
...,...,...,...,...,...,...,...
59904,59905,9,23,112,It all seems so very arbitrary. I applied for ...,Creed,False
59905,59906,9,23,113,I just feel lucky that I got a chance to share...,Meredith,False
59906,59907,9,23,114,I���m happy that this was all filmed so I can ...,Phyllis,False
59907,59908,9,23,115,I sold paper at this company for 12 years. My ...,Jim,False
59908,59909,9,23,116,I thought it was weird when you picked us to m...,Pam,False

In [9]:
scripts_df["line_text"].iloc[1]

"Oh, I told you. I couldn't close it. So..."

In [10]:
stop_words = pd.read_json(json_file)
stop_words

              0
0             a
1         about
2         above
3         after
4         again
..          ...
779    thorough
780  thoroughly
781       three
782        well
783      wonder

[784 rows x 1 columns]

For an easy acces of the information we can transform the pandas df in three main variables "characters_data" wich is a dictionary capable of telling all the seasons/episodes in wich a character was present it also has a place for season metadata to solve the tasks of this option; "said_jokes" a list of the posible df positions with a "That´s what she said" joke in the line_text column and a dictionary with the seasons as keys and a list of episodes as data.

characters_data format = {
    name: {
        season:{
            "episodes": [],
            "metadata": {
                to be determined
            }
        }
    }
}

In [31]:
def add_character(name, data):
    if name not in data.keys():
        data[name] = {}
        
def add_season(season, name, data, seasons_episodes):
    if season not in data[name].keys():
        data[name][season] = {
            "episodes": [],
            "metadata": {}
        }
    if season not in seasons_episodes.keys():
        seasons_episodes[season] = []
        
def add_episode(episode, season, name, data, seasons_episodes):
    if episode not in data[name][season]:
        data[name][season]["episodes"].append(episode)
    if episode not in seasons_episodes[season]:
        seasons_episodes[season].append(episode)

In [33]:
characters_data = {}
said_jokes = []
seasons_episodes = {}
joke = "That's what she said"
for row in scripts_df.itertuples():
    if joke.lower() in row[5].lower():
        said_jokes.append(row[0])
    add_character(row[6], characters_data)
    add_season(row[2], row[6], characters_data, seasons_episodes)
    add_episode(row[3], row[2], row[6], characters_data, seasons_episodes)

print()
for season in seasons_episodes:
    print(f"Season {season} has {len(seasons_episodes[season])} episodes.")
print()
print(f"There´s {len(characters_data.keys())} characters in the series and a posible {len(said_jokes)} \"that´s what she said jokes\".")

Season 1 has 6 episodes.
Season 2 has 22 episodes.
Season 3 has 23 episodes.
Season 4 has 14 episodes.
Season 5 has 26 episodes.
Season 6 has 24 episodes.
Season 7 has 24 episodes.
Season 8 has 24 episodes.
Season 9 has 23 episodes.

There´s 793 characters in the series and a posible 37 "that´s what she said jokes".