In [4]:
!pip3 install pandas

Requirement already satisfied: pandas in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: six>=1.5 in c:\users\vga19\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

In [25]:
csv_file = "./the_office_lines_scripts.csv"
json_file = "./stopwords.json"

In [109]:
scripts_df = pd.read_csv(csv_file, encoding="utf_8")
scripts_df.groupby("speaker").count()

,id,season,episode,scene,line_text,deleted
speaker,,,,,,
(Pam's mom) Heleen,1,1,1,1,1,1
3rd Athlead Employee,1,1,1,1,1,1
4th Athlead Employee,1,1,1,1,1,1
A.J.,8,8,8,8,8,8
AJ,23,23,23,23,23,23
...,...,...,...,...,...,...
"[Clark and Pete are shown on screen]\nVideo Andy: Hey, I'm Pete, puberty is such a drag, man. And I'm Clark! I like to eat toilet paper. [Clark and Pete wave at camera] We fail! [Video shows memorial of Jerry",1,1,1,1,1,1
[repeats]\nAndy: Fail,1,1,1,1,1,1
abe,1,1,1,1,1,1
sAndy,1,1,1,1,1,1
song,1,1,1,1,1,1

In [27]:
scripts_df["line_text"].iloc[1]

"Oh, I told you. I couldn't close it. So..."

In [29]:
stop_words = pd.read_json(json_file)
stop_words

              0
0             a
1         about
2         above
3         after
4         again
..          ...
779    thorough
780  thoroughly
781       three
782        well
783      wonder

[784 rows x 1 columns]

the character info

In [62]:
characters_data = {}

In [84]:
def add_character(name, data):
    if name not in data.keys():
        data[name] = {}
        
def add_season(season, name, data):
    if season not in data[name].keys():
        data[name][season] = {
            "episodes": [],
            "metadata": {}
        }
        
def add_episode(episode, season, name, data):
    if episode not in data[name][season]:
        data[name][season]["episodes"].append(episode)
        
def metadata(name, data):

In [106]:
joke = "That's what she said"
c1 = 0
c2 = 0
ids = []
for row in scripts_df.itertuples():
    if joke.lower() in row[5].lower():
        c1 += 1
        ids.append(row[0])
    if "she said" in row[5]:
        c2 += 1
    add_character(row[6], characters_data)
    add_season(row[2], row[6], characters_data)
    add_episode(row[3], row[2], row[6], characters_data)

print("insensitive:", c1, "sensitive", c2)
for key in ids:
    print(scripts_df["line_text"].iloc[key])
print(len(characters_data.keys()))

insensitive: 37 sensitive 49
That's what she said. Pam?
Does that include 'That's What She Said'?
THAT'S WHAT SHE SAID!
A, that's what she said, and B, I wanted it to be impressive. The biggest day of the year deserves the biggest tree of the year.
That's what she said.
Uh, that's what she said.  See, haven't lost my sense of humor.  No, no need, it was a non-stick grill.
That's what she said!
That's what she said. [Jim mouths these words along with Michael] The thing is, Angela... you are in here an awful lot. You have complained about everybody in the office, except Dwight, which is odd because everyone else has had run ins with Dwight. Toby, by the way, what does 'redacted' mean? There is a file full of complaints in here marked 'redacted'... ?
I am glad that today spurred social change.  That's part of my job as regional manager.  But you know what?  Even if it didn't, at least we put this matter to bed.  ...that's what she said.  Or he said.
That's what she said. [Stanley and Michael both laugh]
Oh. [She whispers in his ear. Michael starts to laugh] That's what she said.
That's what she said.
That's what she said.
Why is this so hard? That's what she said. Oh my God. What am I saying?
No, no.  I need two men on this.  That's what she said.  No time!  But she did.  NO TIME!  Guys, get on this.  Dwight, I want you to be in charge of the press conference.
That's what she said!
Hey. Can you make that straighter? That's what she said.
And the best way to start is to hit start. And up comes the toolbar, that's what she said. What we have to do here is go to Run, and then you look up to PowerPoint. And we are in. We are going to register. You hit register--- Updates are ready. I should update. Um, estimated time 12 minutes, so this should take 5 or 10 minutes.
That's what I said. That's what she said.
That's what she said.
That's what she said.
That's what she said.
Come again? That's what she said? I don't know what you're talking about.
[reading off paper] Mr. Schneider: And you were directly under her the entire time? Mr. Scott: That's what she said.
[yells] THAT'S WHAT SHE SAID! [Jan gets an evil look on her face and picks up Michael's dundie and throws it into his plasma screen tv] THAT IS A 200 DOLLAR PLASMA SCREEN TV YOU JUST KILLED! Good luck paying me back on your zero dollars a year salary plus benefits, babe! [Jan goes upstairs crying.]
[muffled] That's what she said.
[from his office] That's what she said.
It squeaks when you bang it, that's what she said. Let's hear it for me! Right? A bargain at any price!
That's what she said.
[in New York] That's what she said! That's what she said! That's what she said!
That's what she said! [David laughs]
That's what she said.
[grimacing] That's what she said. [leaves]
No, no. No, comedy is a place where the mind goes to tickle itself. That's what she said. [laughs]. [hugs Michaels] Ohh.
I'm not saying it won't be hard. But we can make it work. That's what she said.
[putting his shoes back on, talking to the camera crew] Well, I guess this is it. Hey will you guys let me know if this ever airs? Thank you. Alright... Oh! [pulls out his mic from his shirt] This is gonna feel so good, getting this thing off my chest. [he hands them the body mic, when he speaks it is inaudible now] That's what she said! [waves goodbye and walks off to his gate, halfway there Pam comes running up to him and they hug for a while. They say their goodbyes to each other, and Michael walks off for good]
Yeah.  That's what she said.
793